.dashboard-section {
  width: 100%;
  height: auto;
}
.dashboardtop-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  border-bottom: 1px solid var(--paracolor);
  padding-bottom: 20px;
  padding: 40px 50px;
}
.dashboardbottom-section {
  padding: 20px 50px;
}
.dashboard-profile {
  padding: 15px;
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  position: relative;
}
.user-status {
  position: absolute;
  top: 10px;
  left: 10px;
}
.user-status p {
  padding: 5px 5px;
  border-radius: 25px;
  background-color: var(--completecolor);
  color: white;
  font-size: 12px;
}
.joined-text {
  margin-top: 8px;
  font-size: 12px;
  margin-bottom: 0px;
}
.mainprofile-pic img {
  width: 147px;
  height: 147px;
  border-radius: 50%;
}
.dahuserprofile-info {
  margin-top: 15px;
}
.dahuserprofile-info h1 {
  font-size: 20px;
  font-weight: 600;
}
.dahuserprofile-info h2 {
  font-weight: 600;
  margin-top: 2px;
  font-size: 15px;
}
.dahuserprofile-info p {
  margin-top: 2px;
  font-size: 12px;
}
.dahuserprofile-info button {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  color: var(--maincolor);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}
.profilerating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.review-completestar {
  display: flex;
  gap: 10px;
}
.review-completestar svg {
  font-size: 20px;
}
.profilerating p {
  font-size: 12px;
  color: #95a5a6;
}
.varify-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.varify-count p {
  font-size: 12px;
}
.varified-bar {
  width: 60%;
  height: 15px;
  border-radius: 10px;
  background-color: #ecf0f1;
}
.varified-subbar {
  width: 75%;
  height: 15px;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--completecolor);
  display: flex;
  justify-content: end;
  padding-right: 10px;
  align-items: center;
  font-size: 10px;
}
.profile-contactinfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}
.profile-contactinfobox p {
  margin-bottom: 3px;
}
.profile-contactinfobox p a {
  font-size: 15px;
  color: var(--maincolor);
  text-decoration: none;
}
.followsercount1 {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 25px;
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  background-color: white;
}
.followsercount2 {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: var(--maincolor);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  color: white;
}
.follower-count p {
  margin-top: 10px;
  font-size: 12px;
}
/* -----------------------dashboard-servicesection------------------ */
/* ------------------------dashboard-allproducts---------------------- */
.dashboard-servicesection {
  width: 70%;
  height: auto;
}
.dashboardtop-section {
}
.dashboard-searchservicefield {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.prifilepic-service img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.serviceadd-filed {
  width: 100%;
  height: 55px;
  padding: 5px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--paracolor);
}
.serviceadd-filed input {
  width: 92%;
  height: 100%;
  border-radius: 25px;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  outline: none;
}
.serviceadd-filed button {
  width: 8%;
  height: 100%;
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: var(--maincolor);
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.dashboard-servicepart2 {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: auto;
  padding: 15px;
}
.dashboard-filterbtn {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.dashboard-filterbtn button {
  background: none;
  border: none;
  cursor: pointer;
}
.dashboard-filterbtn button svg {
  font-size: 20px;
}
.dashboard-allproducts {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.dashboardproduct-box {
  width: 32%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}
.dashboardproduct-box img {
  width: 100%;
  height: 200px;
}
.productbox-allinfo {
  padding: 10px;
}
.productuploader-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.productuploader-info img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.productuploader-info h3 {
  font-size: 15px;
  font-weight: 600;
}
.productbox-allinfo p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
}
.uploader-rating {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.uploader-rating i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploader-rating p {
  margin: 0;
  font-size: 15px;
}
.uploader-rating p span {
  color: #95a5a6;
}
.product-spreadoption {
  width: 100%;
  border-top: 1px solid var(--paracolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.commentoptionbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.commentoptionbox button {
  background: none;
  border: none;
  cursor: pointer;
}
.commentoptionbox button svg {
  font-size: 20px;
}
