.dashglance-boxmain {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dashglance-boxmain h1 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
}
.dashglance-box {
  width: 100%;
  border-bottom: 1px solid var(--paracolor);
}
.dashglance-box h2 {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}
.dashglance-content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.dashglance-content img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.dashglance-content p {
  font-size: 15px;
}
/* ------------------people-iterestmain------------------- */
.people-iterestmain {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
}
.people-iterestmain h1 {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}
.interest-boxes {
  padding: 10px;
}
.peopleinterest-box {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: start;
  gap: 15px;
  border-bottom: 1px solid #bdc3c7;
}
.interest-picbox img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.connection-info h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.connection-info p {
  font-size: 12px;
  line-height: 25px;
}
.connection-info button {
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 25px;
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  background: none;
  margin-top: 10px;
}
.all-interestpeople {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-interestpeople button {
  cursor: pointer;
  border: none;
  color: var(--paracolor);
  background: none;
  font-size: var(--btn-fontsize);
}
